<mat-toolbar color="primary">
  <span *ngIf="update">There is an update for your application! </span>
  <mat-toolbar-row>
    <span>Jargons/Definitions V4</span>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <mat-card *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <!-- <mat-card-header>
      <mat-card-title>{{ item.html }}</mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      {{ item.description }}
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="{{ item.url }}" color="primary">More</a>
    </mat-card-actions>
  </mat-card>
</main>
